@{
    ViewBag.Title = "Iniciar sesion";
}

<style>
    

    /* Estilos para el formulario */
    body {
        font-family: Arial, sans-serif; /* Tipo de letra */
        margin: 0;
        padding: 0;
        background-color: #f2f2f2; /* Color de fondo */
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 20px auto;
    }

    h2 {
        color: #333; /* Color del título */
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        color: #666; /* Color de las etiquetas */
    }

    input[type="text"],
    input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .btn-primary {
        background-color: red; /* Color de fondo del botón */
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
        width: 100%;
    }

        .btn-primary:hover {
            background-color: black; /* Color de fondo del botón al pasar el cursor */
        }
</style>

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>

        <div>
            <button type="submit" class="btn-primary">Login</button>
        </div>
    </form>
}
